*{
    margin: 0;
    padding: 0;
}
ul,li {
    list-style-type: none;
}
a{
    text-decoration: none;
}
html,body{
    height: 100%;
}
header{
 height: 80px;
    background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
    width: 100%;
    text-align: center;
    line-height: 80px;
}
header span{
    font-size: 26px;
    font-weight: 700;
}
main{
    height: calc(100% - 80px);
    background: url('https://img0.baidu.com/it/u=1212296151,2760300942&fm=253&fmt=auto&app=138&f=JPEG?w=1000&h=500') no-repeat;
    background-size: cover;
    
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
main .btn-box{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
main .btn-box .btn{
    width: 180px;
    height: 80px;
    background-image: linear-gradient( 135deg, #F5CBFF 10%, #C346C2 100%);    text-align: center;
    line-height: 80px;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
}
